@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&display=swap');

body {
    background: linear-gradient(to right,#000080,#800080);
    font-family: 'Mochiy Pop One', sans-serif;
}

h1 {
    font-size: 26px;
    color: aliceblue;
}

.text {
    width: 98%;
    margin: 0rem auto;
}