@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&display=swap');

body {
    background: linear-gradient(to right,#000080,#800080);
    display: grid;
    grid-template-rows: 3fr 9fr 1fr;
    grid-template-areas: "first"
    "second"
    "third";
}

.firstSection {
    grid-area: first;
    width: 90%;
    margin: 0rem auto;
    font-family: 'Optima', sans-serif;
}

h1 {
    width: 90%;
    margin: 0rem auto;
    text-align: center;
    font-family: "Blippo", fantasy;
    font-size: 48px;
}

h2 {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    font-size: 24px;
}

.description {
    width: 90%;
    margin: 0rem auto;
    font-size: 20px;
}

.secondSection {
    grid-area: second;
    background-color: white;
}

.menu {
    width: 90%;
    margin: 1rem auto;
}

.return {
    width: 90%;
    margin: 1rem auto;
}

.btn {
    left: 50px;
}

.thirdSection {
    grid-area: third;
    display: flex;
    justify-content: center;
    background-color: #ceeaf7;
    align-items: center;
    font-family: 'Optima', sans-serif;
}