@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&display=swap');

body {
    position: relative;
    background: linear-gradient(to right,#000080,#800080);
    display: grid;
    grid-template-rows: 3fr 4.5fr 0.5fr;
    grid-template-areas: "first"
    "second"
    "third";
}

.firstSection {
    grid-area: first;
    width: 90%;
    margin: 0rem auto;
    font-family: 'Optima', sans-serif;
}

h1 {
    width: 90%;
    margin: 0rem auto;
    text-align: center;
    font-family: "Blippo", fantasy;
    font-size: 48px;
}

h2 {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    font-size: 24px;
}

.description {
    width: 90%;
    margin: 0rem auto;
    font-size: 20px;
}

.secondSection {
    position: relative;
    grid-area: second;
    width: 100%;
    height: auto;
    background-color: white;
    align-items: center;
    text-align: center;
}

.menu {
    width: 90%;
    margin: 1rem auto;
}

.return {
    width: 90%;
    margin: 1.5rem auto;
}

.btn {
    left: 50px;
}

.thirdSection {
    grid-area: third;
    display: flex;
    justify-content: center;
    background-color: #ceeaf7;
    align-items: center;
    font-family: 'Optima', sans-serif;
}

#game-background-img {
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: 0;
}

#game-section {
    position: relative;
    text-align: center;
    align-items: center;
    z-index: 100;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Optima', sans-serif;
}

#question-prompt {
    font-size: 36px;
}

button {
    padding: 2rem 5rem;
    font-size: 24px;
    border-radius: 10px;
    border: transparent;
}

button:hover {
    background-color: yellow;
    cursor: pointer;
}